/*AGENT_SHEET*/

/* Base Theme */
@import url(./css/base.css);

/* Pop-ups, Context Menus, Dropdowns, etc */
@import url(./css/context.css);

/* Base Tags Theme */
@import url(./css/tags.css);

/* Pages */
@import url(./css/pagesChrome.css);

/* Icons */
@import url(./css/icons.css);

/* Colors */
/* Dark */
@import url(./css/colors/tags-dark.css);
@import url(./css/colors/context-dark.css);
@import url(./css/colors/base-dark.css);
@import url(./css/colors/pagesChrome-dark.css);

/* Light */
@import url(./css/colors/tags-light.css);
@import url(./css/colors/context-light.css);
@import url(./css/colors/base-light.css);
@import url(./css/colors/pagesChrome-light.css);

/*
@supports -moz-bool-pref("pref.here") {
*/

:root {
	--uwp-accent-color: -moz-win-accentcolor; /* Accent color */
	--uwp-accent-text: -moz-win-accentcolortext; /* Accent color text */
}

/* Hide Tab Toolbar */

:root{
  --uc-window-control-width: 138px; /* Space reserved for window controls */
  --uc-window-drag-space-width: 8px; /* Extra space reserved on both sides of the nav-bar to be able to drag the window */
  --uc-toolbar-height: 32px;
}

#nav-bar::before,
#nav-bar::after{
  content: "";
  display: -moz-box;
  width: var(--uc-window-drag-space-width);
}

toolbar#nav-bar::after{ width: calc(var(--uc-window-control-width) + var(--uc-window-drag-space-width,0px)) }

:root:not([uidensity="compact"]){--uc-toolbar-height: 38px}

#TabsToolbar{ visibility: collapse !important }

:root:not([inFullscreen]) #nav-bar{
  margin-top: calc(0px - var(--uc-toolbar-height));
}

#toolbar-menubar{
  min-height:unset !important;
  height:var(--uc-toolbar-height) !important;
  position: relative;
}

#main-menubar{
  -moz-box-flex: 1;
  background-color: var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor);
  background-clip: padding-box;
  border-image: linear-gradient(to left, transparent, var(--toolbar-bgcolor,--toolbar-non-lwt-bgcolor) 30px) 20 / 30px
}

#toolbar-menubar:not([inactive]){ z-index: 2 }
#toolbar-menubar[inactive] > #menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width,0px)
}


  #sidebar-box:not([hidden]) {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 30px;
    position: fixed;
    z-index: 1;
    transition: all 0.12s ease;
    border-right: 0px solid #333; /* Adjust to fit your theme */
  }

  #sidebar-box:hover,
  #sidebar-header,
  #sidebar {
    width: 15vw !important;
  }

  #sidebar-splitter {
    display: none;
  }

#sidebar-box {
    height: 100vh;
  }

  #sidebar {
    flex-grow: 1;
  }

  #sidebar-box:not([hidden]) ~ #appcontent {
    margin-left: 20px;
  }

  #main-window[inFullscreen][inDOMFullscreen] #appcontent {
    margin-left: 0;
  }

  #main-window[inFullscreen] #sidebar-box {
    height: 100vh;
  }
  /*
  #sidebar-box {
    flex-direction: column-reverse;
  }
  */

  /* Place sidebar header at the bottom */

  /* Hide sidebar header */
  /*
  #sidebar-header {
    display: none;
  }
  */
}
